/*All Chart Stylings*/

span.ui-slider-handle{
  z-index:-1;
}

.chart-div{
  position:absolute;
  top:70px;
  left:10px;
  /* border-style:solid;
  border-color:#D3D3D3;
  border-width:2px; */
}

foreignObject {
    height: 100%;
    width: 100%;
}
img{
  visibility: visible;
}

/* start from custom.css */
body > div.container {
  padding: 50px 0;
  position: relative;
}
div.container iframe {
  position: absolute;
  top: 75px;
  right: 0;
}
p.spacer {
  height: 5px;
  overflow: hidden;
}
/*footer {
  padding: 20px 0;
    position: relative;
}*/
footer iframe {
  position: absolute;
  top: 20px;
  right: 0;
}
td {
  max-width: 100px;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-wrap: break-word;
  word-break: break-word;

}
/*table td:first-child {
  width: 125px;
}*/
li strong {
  color: #111;
}
.btn.btn-large {
  float: right;
  margin-top: 40px;
}
/* end custom.css stylings */

/* #attributes_dropdown{
  display:none;
} */

/*
 *
 * Sidebar-specific stuff
 *
 */
#sidebar {
  position:absolute;
  overflow:scroll;
  width:250px;
  height:100%;
  border-right:1px solid #d3d3d3;
  padding:5px;
  background: -webkit-linear-gradient(left top, #eee, #fff); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #eee, #fff); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #eee, #fff); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #eee, #fff); /* Standard syntax */
}

.sidebar_title {
  background-color:white;
  border: solid #d3d3d3 1px;
  border-radius:5px;
  padding:5px;
  width:100%;
  float:left;
  font-size: 1.3em;
  cursor: pointer;
}
.sidebar_options_div {
  border: solid #d3d3d3 0px;
  /* background-color:; */
  margin-left:0px;
  width:100%;
  padding-right:7px;
  padding-left:7px;
  float:left;
  font-size: .9em;
}
.sidebar_options_table2 {
  float:left;
}
.sidebar_options_table2 td {
  text-align:left;
  /* font-weight:bold; */
  /* margin-left:0.15em; */
  padding:2px;
  /* padding-left: 0.15em; */
}
#line_opacity_slider{
  width:100px;
}
#line_thickness_slider{
  width:100px;
}
#group_opacity_slider{
  width:100px;
}
.sidebar_options_table {    /* used in #sidebar -> Chart Options div */
  width:90%;
}
.sidebar_options_table tr td {
  padding-top:5px;
  padding-bottom:5px;
  /* font-size: .9em; */
}
.glyphicon-align-justify {  /* these are the "3 horizontal line" icons in the sidebar */
  float:right;
}

.form-control{
  cursor: pointer;
}

.minicolors-swatch-color{
  cursor: pointer;
}

input{
  cursor:pointer;
}

#clear_lens_link{
  cursor:pointer;
}
#reset_chart_options_link{
  cursor:pointer;
}

#entities_table_filter input{
  position:absolute;
  left:68px;
  float:right;
}
/* #entities_table_wrapper{
  width:100%;
} */
div.container{
  width:80%;
}
div.dataTables_wrapper {
    margin: 0 auto;
}
#entities_table_wrapper table{
  margin: 0 auto;
  width: 100%;
  clear: both;
  border-collapse: collapse;
  table-layout: fixed;
  padding: 0px;
}
#groups_table_wrapper table{
  margin: 0 auto;
  width: 100%;
  clear: both;
  border-collapse: collapse;
  table-layout: fixed;
}
/* #chart_options_table{ */
  /* margin-left: .15em;
} */
table td {
  word-wrap: break-word;
  word-break: break-all;
  white-space: normal;
}

#scale_x_row_button{
  border-color:#d3d3d3;
  border-radius:.35em;
}
#scale_y_row_button{
  border-color:#d3d3d3;
  border-radius:.35em;
}

/*
 * STACKED GRAPH STYLINGS
 */

#stack_graph_container {
  /*overflow-x:scroll;*/
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  border-color: #D3D3D3 #D3D3D3 #D3D3D3 #D3D3D3;
  padding: 20px;
  height: 200px;
}

/*
LINE LABEL
 */
.start{
  font-family:monospace;
}
.end{
  font-family:monospace;
}
.line-label-start{
  /* top:0;
  left:0; */
  height:10px;
  width:10px;
}

/*
 * AXIS STYLINGS FOR STACKED GRAPH GROUP LENSE
 */
.x_axis path{
  stroke: #d3d3d3;
  stroke-width:1px;
}
.x_axis line{
  stroke: #d3d3d3;
  stroke-width:1px;
}
.y_axis path{
  stroke: #d3d3d3;
}
.y_axis line{
  stroke: #000000;
}
.stack_bar_graph_axis path{
  stroke: #d3d3d3;
}
.stack_bar_graph_axis line{
  stroke: #d3d3d3;
}
.stack_bar_graph_axis text{
  fill: #ccc;
  font-size: 10px;
}

.stack-graph-svg text{
  fill: #d3d3d3;
}
.stack-graph-svg line{
  stroke: #d3d3d3;
}

.stack-graph-svg{
  /* height:100%;
  width:100%; */
  padding:0;
  margin:0;
}
/*
 *STORYLINE STYLINGS
 */
 .axis--y line{
   stroke: #ccc;
 }
 .axis--y path{
   stroke: #ccc;
   stroke-width: 2px;

 }
 .axis--y text{
   fill: #ccc;
   font-size: 10px;
 }

.axis--x line{
  stroke: #ccc;
  stroke-width: 1px;
  stroke-dasharray: 10,5;
}
.axis--x path{
  stroke: #ccc;
  stroke-width: 2px;
}
.axis--x text{
  fill: #ccc;
  font-size: 17px;
}

.axis-x line{
  stroke: #ccc;
  stroke-width: 1px;
  stroke-dasharray: 10,5;
}
.axis-x path{
  stroke: #ccc;
  stroke-width: 2px;
}
.axis-x text{
  fill: #ccc;
  font-size: 10px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: #d3d3d3;
  stroke-width: 2.5px;
  stroke-dasharray: 5;
}
.entity {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}
#storyline_graph_container{
  /* border-style: solid; */
  border-width: 0px;
  /* border-color: #D3D3D3 #D3D3D3 #D3D3D3 #D3D3D3;
  padding: 0px; */
 }
.text_label_background{
  fill:white;
}
/* Toggle color swatch input label */
input[type=number]{
width: 24px;
}
/*EGOLINE Stylings*/
#egoline_graph_container {
  /*overflow-x:scroll;*/
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  border-color: #D3D3D3 #D3D3D3 #D3D3D3 #D3D3D3;
  padding: 20px;
  height: 200px;
}

.chart{
  margin-left:10px;
  color: #d3d3d3;
}

.scarf_plot_container{
  position:absolute;
  top:160px;
  height:30px;
  margin-left:10px;
}

/*SIDEBAR Stylings*/

/* Tabs Stylings */
ul#tabs {
    list-style-type: none;
    padding: 0;
    text-align: center;
}
ul#tabs li {
    display: inline-block;
    margin-bottom: 4px;
    cursor: pointer;
}
ul#tabs li.active {
  background-color: #E6E6E6;
  color: #000;
}
ul#tabs li.notactive {
  color: #ffffff;
}
ul#tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul#tab li.notactive{
    display: none;
}
ul#tab li.active {
    display: block;
}
#entities_container, #select_container, #chart_container {
    padding:10px;
    border-style: outset;
}
#select-button{
  width: 100%;
}
/*table.table_header.table{
  margin: 0px 0px 0px 0px;
  border-bottom-style: none;
}*/
span.ui-selectmenu-text,.ui-menu-item-wrapper{
  font-size: 14px;
  text-align: center;
  vertical-align: middle;
}
#group_toggle_search_ID {
  margin: 0px 0px 0px 0px;
}
#line_toggle_search_ID {
  margin: 0px 0px 0px 0px;
}
#timestep_color_toggle {
  text-align: center;
  vertical-align: middle;
}
#group_toggle,#line_toggle{
  border-style: solid;
  border-width: 1px;
  border-color: #D3D3D3 #D3D3D3 #D3D3D3 #D3D3D3;
  padding: 10px;
  height: 220px;
}

.tab-content{
  padding: 10px;
}
body #reset_button {
  position: absolute;
  top: 85%;
  left: 90%;
  width: 50px;
  height: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
body #timestep_slider {
  position: absolute;
  top: 49px; /*height of the nav_bar*/
  left: 30%;
  width: 50%!important;
  height: 1%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/*.minicolors-grid, .mini {
  z-index: 1000;
  position:absolute;
}*/

#analysis_mode_flag{
  display:flex;
  flex-direction:row;
  justify-content: space-between;
  /* align-content:space-around; */
}

.mode_icons{
  height:33px;
  /* width:10%; */
  cursor:pointer;
  border:0px solid #021a40;
}

.mode_icons.active{
  /* width:14%;
  height:40px; */
  border:2px solid #d3d3d3;
  cursor:default;
}

.analysis_view_div{
  cursor:grab;
  position:absolute;
  background:white;
  border:solid 1px #d3d3d3;
  border-radius:10px;
  opacity:1;       /* cjb changed from 0.95 */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding-bottom: 10px;
}

.lense-label{
  display: block;
  height:15px;
  margin-top:5px;
  margin-bottom:0px;
  margin-right:10px;
  margin-left:10px;
  padding:2px;
  font-size:20px;
  color:black;
}
.lense-header{
  display: flex;
  top:0;
  left:0;
  width:100%;
  height:30px;
  border-radius:10px 10px 0px 0px;
  border-bottom:1px solid #d3d3d3;
  justify-content: center;
  position:absolute;

  background-color:#d3d3d3; /* default background */
  background: -webkit-linear-gradient(left top, #afafaf, lightgray); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #afafaf, lightgray); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #afafaf, lightgray); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #afafaf, lightgray); /* Standard syntax */
}
.lense-label.name{
  top:0;
  margin:0;
}
.lense-label.timesteps{
  top:25px;
  left:0;
  width:200px;
  margin-top:10px;
  font-size:.9em;
  position:absolute;
}

.lense-label.selection{
  display:inline;
  position:absolute;
  top:33px;
  right:0;
  font-size:.85em;
}

.lense-label.num-entities{
  top:0;
  left:0;
  width:100%;
  margin-top: 3px;
  /*margin-bottom: 95%;*/
}
.lense-label input {
  border:0px;
  border-bottom:1px solid lightgray;
  text-align:right;
}
.lense-label input:hover {
  border:1px solid gray;
  border-radius:5px;
  margin-bottom:0px;
}
#close-icon{
  cursor:pointer;
  position:absolute;
  width:22px;
  height:22px;
  top:4px;
  right:5px;
  border:1px solid #d3d3d3;
  border-radius:3px;
  background:rgb(240,240,240);
  padding:3px;
}
#close-icon:hover {
  background:rgb(245,245,245);
  padding:4px;
}
.ui-icon-closethick {
  width:20px;
  height:20px;
}

#info-icon{
  cursor:context-menu;
  position:absolute;
  width:17px;
  height:17px;
  top:7px;
  right:27px;
}

.info-view{
  position:absolute;
  display:block;
  width:0px;
  height:0px;
  border: 1px solid #d3d3d3;
  background-color: white;
  border-radius:10px;
}

.info-text{
  padding:15px 15px 15px 15px;
  font-size:10px;
  color: #585858;
}

.selection-text{
  padding:15px 15px 15px 15px;
  font-size:10px;
  color: #585858;
}

/*
 * TREND LENSE STYLINGS
 */
.cell{
  cursor:default;
  stroke-width:0px;
}
.cell.active{
  stroke:#a9a9a9;
  stroke-width:4px;
}

.legend-container{
  position:absolute;
  top:40px;
  left: 200px;
  height:20px;
  /* width:200px; */
}

.links{
  cursor: pointer;
}


/*
 * LENSE AXIS STYLES
 */
.lense-axis path{
  stroke: #d3d3d3;
  stroke-width:3px;
  /*stroke:black;*/
  stroke-width:1px;
  shape-rendering: auto;

}
.lense-axis line{
  stroke: #d3d3d3;
  stroke-width:3px;
  /*stroke:black;*/
  stroke-width:1px;
  /*shape-rendering: auto;*/

}
.lense-axis text{
  fill:#d3d3d3;
  color:#d3d3d3;
  font-size: 11px;
  /*shape-rendering: auto;*/
  /*fill:black;*/
  /*font-size:10px;*/
}


/*
 * CONTEXT LENSE
 */
/* .context-lense-container{
  height:100%;
  width:100%;
  top:20px;
  left:0;
  background-color: rgba(255, 255, 255, 0.9);
  border-style:solid;
  border-color:#D3D3D3;
  border-width:2px;
} */

.context-lense-div{
  height:50px;
  width:50px;
  top:20px;
  left:20px;
  background-color: black;
  border-style:solid;
  border-color:black;
  border-width:5px;
}

/*
 * TOOLTIPS AND MOUSEOVER ON GROUP LENS
 */
.entities-list-tooltip{
  padding:10px;
  padding-left: 0px;
  background-color: white;
  position:absolute;
  font-size:12px;
  color:black;
  border-style:solid;
  border-color:black;
  border-width:1px;
  border-radius:10px;
}
/* ul {
  list-style-type: none;
} */
.timestep-select {
  fill:rgb(128,128,128,.1);
  stroke:black;
  stroke-width:.5px;
  stroke-opacity:1;
}
.timestep-select.single{
  opacity:0.8;
}

/*
Overriding Jquery datatable default css
 */
/* .dt-center{
  padding:0px;
} */

/* Adjacency matrix association lens styles */
.grid {
    stroke: #9A8B7A;
	stroke-width: 1px; fill: #CF7D1C;
}
.arc {
    stroke: #9A8B7A;
	fill: none;
}
.node {
	fill: #EBD8C1;
	stroke: #9A8B7A;
	stroke-width: 1px;
}
circle.active {
	fill: #FE9922;
}
path.active {
	stroke: #FE9922;
}
circle.source {
	fill: #93C464;
}
circle.target {
	fill: #41A368;
}
/* .matrix-text{
  transform:rotate(90)
} */
